body{
    margin: 0;
    background-color:white;
    color: black; 
}
h1{
    text-transform: uppercase;
}

.topnav{
    overflow:hidden;
    background-color:#333;
    top: 0;
    position: sticky;
}
.topnav a{
    float: left;
    color:#818181;
    display: block;
    text-align: center;
    padding: 10px 26px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}
.topnav a:hover{
    
    color:white;
    background-color:black;
    
    
}
.topnav a.active{
    border-bottom: 3px solid #818181;
    color:white;
    background-color:black;
}
.topnav a.active:hover{

    color:white;
    background-color:black;
}
.img{
    text-align: center;
    padding: 10px;
}
.sidetext{
    color:black;
    padding-top: 0px;
    text-align: center;
    font-size:large;
    font-family: 'Crimson Text', serif;
    background-color: white;
    

}
.sidenav{
    overflow: auto;
    background-color:#f1f1f1;
    margin: 0;
    padding: 0;
    width:15%;
    top: 70px;
    position:sticky;
    height: 100%;
    
}
.sidenav a{
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: center;
    color:#818181;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size:x-large;
    background-color: rgb(233, 232, 232);
}
.sidenav a:hover:not(.active1){
    color:black;
       
}
.sidenav a.active1{
    color:white;
    background-color:#333;
    
}
.sidenav a.active1:hover{
    color:black;
    background-color:#f1f1f1;
}
.programming{
    margin-left: 16%;
    margin-right:1% ;
    margin-top: -340px;
    text-align: center;
    font-size: 22px;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    line-height: 45px;
    
}
.checked {
    color: orangered;
  }
.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color:#f1f1f1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    padding: 10px;
 }

/*icon*/
 .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 3px 1px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background:whitesmoke;
    color:black;
 }
 .h2{
     background-color: white;
     font-family: 'Crimson Text', serif;
     text-transform: uppercase;
     padding: 10px;
     
 }
 .footer {
    position:static ;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color:white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
 }
 .references {
     list-style-type: none;
 }
 .references a{
     color: black;
     padding: 0px;
     display:block ;
     transition: 0;
     text-decoration: none;
    
}
.references a:hover{
    background-color: #333;
    color: white;
}
.align{
    text-align: center;
    padding: 0 15px 0 15px; 
    line-height: 45px;
    
}
//joinus
.join input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:15px;
  }
  .join input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  .join input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .join input[type=submit]:hover {
    background-color: #45a049;
  }
 .join input[type=text], select {
    background-color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
 }
  .join{
      padding: 15px 15%;
    margin-left: 16%;
    margin-right:1% ; 
    text-align: center;
    font-size: 22px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 45px;
    
}
.join form{
    background-color: #f1f1f1;
}
  
