body {
  background-color: #0A192F;
  font-family: 'Courier New', Courier, monospace;
}

/* LOADER --------------------------------------------------------------------- */
/* Styling for the loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0A192F;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

}

.loader img {
  box-shadow: 0px 0px 30px rgba(100, 255, 218, 0.5);
  border: 1px solid #64FFDA;
  width: 5.25rem;
  height: 5.25rem;
  /* max-width: 100%; */
  /* max-height: 100%; */
}

/* Styling for the content */
.content {
  display: none;
}



/* CARDS PROJECT SECTION */
.card {
  margin-bottom: 10px;
  border: 1px solid #64FFDA;
  box-shadow: 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: relative;
  height: 450px;
  border-color: #64FFDA;
  box-shadow: 0 0 20px rgba(100, 255, 218, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.5);


}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
} */

.card-img-top {
  width: 100%;
  object-fit: fill;
}

.overlay {
  display: none;
}

.card:hover .overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0);
  text-align: center;
  position: absolute;
  /* padding: 5px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #64FFDA;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 0.3s ease;
  height: 25px;
}

.card-body {
  /* text-align: center; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #CCD6F6;
  background-color: #0A192F;
}

.card-title {
  color: #64FFDA;
  font-size: 1.2rem;
  /* margin-bottom:rem; */
}

.card-text {
  text-align:left;
  font-size: 0.9rem;
  /* margin-bottom: rem; */
}

.buttons {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: 1px solid #64FFDA;
  /* flex-basis: 88%; */
}
/* anime button */
.button-3d {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.25rem;
  color: #64FFDA;
  background-color: transparent;
  border: 0.5px solid #64FFDA;
  border-radius: 20px;
  box-shadow: 0 3px 0 0 #64FFDA;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

}

.button-3d::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.button-3d:hover {
  transform: translateX(5px);
  box-shadow: 0 0 0 0 #64FFDA;
}

.button-3d:hover::before {
  top: 50%;
  left: 50%;
}

/* my pic */
.image-container {
  position: relative;
  display: inline-block;
  border: 2px solid #64FFDA;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(100, 255, 218, 0.5);
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: 300px;
  /* transform: translate3d(0, 10px, 10px); */
}
.image-container:hover {
  /* transform: translate3d(0px, 0px, 0px); */
  box-shadow: 0 0 20px rgba(100, 255, 218, 0.5);
}

.image-container:hover img {
  filter: none;
  transform: translate3d(-15px, -15px, 0);
}

.image-container img {
  width: 100%;
  display: block;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  transform: translate3d(-10px, -10px, 0);
  /* transition: filter 0.3s ease-in-out; */
  filter: brightness(75%) sepia(100%) hue-rotate(140deg) saturate(200%);
}



/* hidden social links */


.social a {
  display: inline-block;
  color: #64FFDA;
  margin:0 5px 0 5px;
  font-size: 20px;
  background-color: transparent;
  /* border-radius: 50%; */

}

.social a:hover {
  color: #CCD6F6;
  background-color: transparent;
}

/* .image-container {

  position: relative;
  display: inline-block;
}

.image-container img {
  
  filter: brightness(100%) sepia(100%) hue-rotate(120deg) saturate(200%) contrast(1.2) 
          drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
  transition: filter 0.3s ease-in-out;
}

.image-container:hover img {
  filter: none;
} */


/* navbar---------------------------------------------------------------------- */
.navbar {
  text-transform: uppercase;
}

.nav-link:hover {
  color: #64FFDA !important;
}

/* section 1-------------------------------------------------------------------- */
.section1 {
  position: relative;
  /* height: 200.3vh; Set section height to full viewport height */

}

.social-icons {
  /* position: relative; */
  width: auto;
  right: auto;
  left: 1.2rem;
  /* transform: translateX(-50%); */
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.social-icons li {
  /* margin-bottom: 10px; */
  list-style: none;
}

.social-icons li a {
  display: block;
  color: #64FFDA;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: transparent;
  /* border-radius: 50%; */

}

.social-icons li a:hover {
  color: #CCD6F6;
  background-color: transparent;
}

/* Vertical Line -------------------------------------------------------------- */
.vertical-line {
  border-left: 1px solid #64FFDA;
  height: 100px;
}

/* SECTION 3---------------------------------------------------------------------- */
.section3 {
  position: relative;
  /* height: 200.3vh; Set section height to full viewport height */

}

.vmail {
  /* position: relative; */
  /* width: auto; */
  left: auto;
  right: -4.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.vmail h5 {
  margin-bottom: 9.5rem;
}

.vmail a {
  display: block;
  color: #64FFDA;
  font-size: 15px;
  /* margin-bottom: 0px; */
  /* background-color: transparent; */
  text-decoration: none;
  /* border-radius: 50%; */

}

.vmail a:hover {
  color: #CCD6F6;
  /* background-color: transparent; */
}


/* FOOTER-------------------------------------------------------- */
footer {
  font-size: smaller;
  bottom: 0px;
  margin-top: 5rem;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}